<form
  class="permission-form"
  (ngSubmit)="submitPermission()"
>
  <div [formGroup]="form">
    <div class="field">
      <label for="display-name" class="block required">Display Name<span class="text-red-600">*</span></label>
      <input id="display-name"
             type="text"
             aria-describedby="display-name-help"
             pInputText
             placeholder="display name"
             formControlName="displayName"
             (change)="setDisplayNameErrors()"
      />
      <small id="display-name-help" class="p-error block"
             *ngIf="isDisplayNameFieldError">Display name is required.</small>
    </div>
    <div class="field">
      <label for="permission" class="block">Permission<span class="text-red-600">*</span></label>
      <input id="permission"
             type="text"
             aria-describedby="permission-help"
             pInputText
             placeholder="user:movie_read"
             formControlName="permission"
             (change)="setPermissionErrors()"
      />
      <small id="permission-help" class="p-error block" *ngIf="permissionFieldError">
        {{permissionFieldError}}
      </small>
      <small id="permission-help2" class="block">Format: entity:permission_name</small>
    </div>
    <div class="field">
      <label for="description" class="block">Description</label>
      <textarea id="description" [rows]="5" [cols]="50" pInputTextarea formControlName="description"></textarea>
    </div>
  </div>
</form>
